<!DOCTYPE html>
<style>
    a.my-class {
        color: black;
    }
    a.my-class:hover {
        color: #FF00FF;
        text-decoration: none;
    }
    li {
        margin-right: 10px;
        cursor: pointer;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>工作小幫手</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <br><br><br>@*固定頂端工具列後，會影響到所有頁面的顯示，所以加一些空行將顯示內容往下*@
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <!-- .navbar-toggler 漢堡式選單按鈕，讓手機瀏覽時可以折疊工具列 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- .navbar-toggler-icon 漢堡式選單Icon -->
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container" style="font-size:large;">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("首頁", "Index", "Home", null, new { @class = "my-class" })</li>
                        @if (!string.IsNullOrEmpty(User.Identity.Name))
                        {
                            <li>@Html.ActionLink("設定", "Index", "FilterSettings", null, new { @class = "my-class" })</li>
                        }
                        @if (AuthorizeManager.InAdminGroup(User.Identity.Name))
                        {
                            <li>@Html.ActionLink("會員", "Index", "User", null, new { @class = "my-class" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 若有問題，請寄信給 fewer135@gmail.com</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>