@model JobFilter.Models.FilterSetting

@*@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FilterSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrawlUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrawlUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcludeWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcludeWord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IgnoreCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IgnoreCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumWage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumWage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
