@model IEnumerable<JobFilter.Models.FilterSetting>

<h1>設定列表</h1>

<p style="margin-left: 2px;">
    <a asp-action="Create">新增設定</a><span>&nbsp; &nbsp; &nbsp;</span>
    @if (User.Identity.Name == AuthorizeManager.SuperAdmin)
    {
        <a asp-action="DeleteAll">刪除全部</a><span>&nbsp; &nbsp; &nbsp;</span>
        <a asp-controller="CSV" asp-action="ExportSettings">匯出資料</a><span>&nbsp; &nbsp; &nbsp;</span>
        <a asp-controller="CSV" asp-action="ImportSettings">匯入資料</a><span>&nbsp; &nbsp; &nbsp;</span>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th style="white-space: nowrap;">
                目標網址
            </th>
            <th style="white-space: nowrap;">
                最低薪資
            </th>
            <th style="white-space: nowrap;">
                排除關鍵字
            </th>
            <th style="white-space: nowrap;">
                排除公司
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="white-space: nowrap;">
                    @{
                        if (item.CrawlUrl == null)
                        {
                            <span>無</span>
                        }
                        else if (item.CrawlUrl.Length < 26)
                        {

                            <span>@item.CrawlUrl</span>
                        }
                        else
                        {
                            @item.CrawlUrl.Substring(0, 26)
                            <span>...</span>
                        }
                    }
                </td>
                <td style="white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.MinimumWage)
                </td>
                <td style="white-space: nowrap;">
                    @{
                        if (item.ExcludeWord == null)
                        {
                            <span>無</span>
                        }
                        else if (item.ExcludeWord.Length < 25)
                        {

                            <span>@item.ExcludeWord</span>
                        }
                        else
                        {
                            @item.ExcludeWord.Substring(0, 25)
                            <span>...</span>
                        }
                    }
                </td>
                <td style="white-space: nowrap;">
                    @{
                        if (item.IgnoreCompany == null)
                        {
                            <span>無</span>
                        }
                        else if (item.IgnoreCompany.Length < 25)
                        {

                            <span>@item.IgnoreCompany</span>
                        }
                        else
                        {
                            @item.IgnoreCompany.Substring(0, 25)
                            <span>...</span>
                        }
                    }
                </td>
                <td style="white-space: nowrap;">
                    <a asp-action="DoCrawl" asp-route-id="@item.Id">執行</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
