@using X.PagedList.Mvc.Core
@using JobFilter.Models.Services
@model X.PagedList.IPagedList<FilterSetting>
@functions{
    public string PrintContent(string content, int length)
    {
        if (string.IsNullOrEmpty(content))
        {
            return "無";
        }
        else if (content.Length <= length)
        {

            return content;
        }
        else
        {
            return content.Substring(0, length) + "...";
        }
    }
}
<h3>設定列表</h3>
<p>
    @Html.ActionLink("新增設定(最多3筆)", "Create", new { returnPage = Model.PageNumber })<span>&nbsp; &nbsp; &nbsp;</span>
    @if (User.Identity.Name == UserService.SuperAdmin)
    {
        @Html.ActionLink("所有設定", "SetSessionForCheckAllSettings", new { returnPage = Model.PageNumber })<span>&nbsp; &nbsp; &nbsp;</span>
        @Html.ActionLink("個人設定", "RemoveSessionOfCheckAllSettings", new { returnPage = Model.PageNumber })<span>&nbsp; &nbsp; &nbsp;</span>
        <a asp-action="DeleteAll">刪除全部</a><span>&nbsp; &nbsp; &nbsp;</span>
        <a asp-controller="CSV" asp-action="ExportFilterSetting">匯出資料</a><span>&nbsp; &nbsp; &nbsp;</span>
        <a asp-controller="CSV" asp-action="ImportFilterSetting">匯入資料</a><span>&nbsp; &nbsp; &nbsp;</span>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th style="white-space: nowrap;">
                設定人員
            </th>
            <th style="white-space: nowrap;">
                最低月薪
            </th>
            <th style="white-space: nowrap;">
                最高月薪(不能低於)
            </th>
            <th style="white-space: nowrap;">
                排除關鍵字
            </th>
            <th style="white-space: nowrap;">
                排除公司
            </th>
            <th style="white-space: nowrap;">
                備註
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td style="white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.MinimumWage)
                </td>
                <td style="white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.MaximumWage)
                </td>
                <td style="white-space: nowrap;">
                    <span>@PrintContent(item.ExcludeWord, 4)</span>
                </td>
                <td style="white-space: nowrap;">
                    <span>@PrintContent(item.IgnoreCompany, 4)</span>
                </td>
                <td style="white-space: nowrap;">
                    <span>@PrintContent(item.Remarks, 5)</span>
                </td>
                <td style="white-space: nowrap;">
                    @Html.ActionLink("執行 |", "DoCrawl", "JobFilter", new { id = item.Id })
                    @Html.ActionLink("編輯 |", "Edit", new { id = item.Id, returnPage = Model.PageNumber })
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id, returnPage = Model.PageNumber })
                </td>
            </tr>
        }
    </tbody>
</table>

Page @(Model.PageCount< Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
    new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
    {
        LinkToPreviousPageFormat = "上一頁",
        LinkToNextPageFormat = "下一頁"
    })

