@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<JobFilter.Models.DataStructure.Job>

<style>
    .Row {
        width: 100%;
        white-space: nowrap;
        background-color: #fffaf2;
        border: 2px solid #ff9100;
        border-radius: 16px;
        height: auto;
    }

    a.MyLink {
        position:relative;
        color: #008dff;
        text-decoration: none;
        margin-left: 2.7%;
        top:14px;
        font-size: xx-large;
    }

    a:hover {
        color: #008dff;
        text-decoration: none;
    }

    .Company {
        position: relative;
        top: 16px;
        margin-left: 3%;
        font-size: large;
    }

    .AreaAndLimit {
        position: relative;
        top: 22px;
        margin-left: 3%;
        font-size: large;
    }

    .PartialContent {
        display: inline-block;
        max-width: 100%;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 14px;
        color: #7e7e7e;
        margin-top: 2.6%;
        margin-left: 3%;
        margin-right: 2.1%;
        font-size: x-large;
    }

    .Wage {
        display: inline-block;
        max-width: 100%;
        color: red;
        background-color: #eee;
        margin-top: 1%;
        margin-left: 3%;
        margin-bottom: 2%;
        font-size: large;
    }
</style>

<h1>工作列表</h1>
<hr/>

@foreach (var job in Model)
{
    <div class="Row">
        <a href="@job.Link" target="_blank" class="MyLink">@job.Title</a>
        <br>
        <div class="Company">@job.Company</div>
        <strong class="AreaAndLimit">@job.Area&nbsp;&nbsp;@job.Experience&nbsp;&nbsp;@job.Education</strong>
        <br>
        <div class="PartialContent">@job.PartialContent</div>
        <br>
        <div class="Wage">@job.WageRange</div>
        <br>
    </div>
    <br>
}

Page @(Model.PageCount< Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
        {
            LinkToPreviousPageFormat = "上一頁",
            LinkToNextPageFormat = "下一頁"
        })

