@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<JobFilter.Models.DataStructure.Job>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<link href="~/css/JobFilter.css" rel="stylesheet">
<h1>工作列表</h1>
<hr />

@{
    string JobNum = HttpContextAccessor.HttpContext.Session.GetString("JobNum");
    if (JobNum == null)
    {
        JobNum = "0";
    }
}
<p class="text-danger" style="font-size: x-large;">符合的工作數量 : @JobNum</p>

@foreach (var job in Model)
{
    <div class="Row">
        <a href="@job.Link" target="_blank" class="MyLink">@job.Title</a>
        <br>
        <div class="Company">@job.Company</div>
        <strong class="AreaAndLimit">@job.Area&nbsp;&nbsp;@job.Experience&nbsp;&nbsp;@job.Education</strong>
        <br>
        <div class="PartialContent">@job.PartialContent</div>
        <br>
        <div class="Wage">
            @job.WageRange &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>
                @Html.ActionLink("封鎖此公司", "AddBlockCompany", "FilterSettings", new { CompanyName = job.Company })
            </span>
        </div>
        <br>
    </div>
    <br>
}

Page @(Model.PageCount< Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
    new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
    {
        LinkToPreviousPageFormat = "上一頁",
        LinkToNextPageFormat = "下一頁"
    })

